img {
  display: block;
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  background-image: linear-gradient(
    to right,
    #117989 15%,
    #468292 40%,
    #52a3b2
  );
}
button {
  display: block;
}
button:hover {
  scale: 1.1;
}

.gallery {
  margin: -10px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 80px;
  margin-bottom: 15px;
}
.gallery__link {
  width: calc((100% - 80px) / 4);
  margin: 10px;
  box-shadow: 10px 10px 8px 2px rgba(0, 0, 0, 0.3);
  list-style: none;
  text-decoration: none;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 15px;
  font-weight: 600;
  color: black;
}
.info-item:not(:last-child) {
  margin-right: 10px;
}
button.is-hidden {
  display: none;
}
.load-more {
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
  border-color: aquamarine;
  background-color: rgb(164, 221, 237);
  border-radius: 10px;
  cursor: pointer;
}
.search-form {
  display: flex;
  margin-bottom: 50px;
  background-image: linear-gradient(
    to right,
    #034f5b 15%,
    #1e5767 40%,
    #246d7a
  );
  justify-content: center;
  position: fixed;
  width: 100%;
  padding: 15px;
}

.search-form__input {
  width: 450px;
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  border-radius: 10px;
  border-color: aquamarine;
  border: none;
  background-color: rgb(204, 232, 239);
}

.search-form__btn {
  margin-left: 15px;
  padding: 10px;
  font-size: 25px;
  font-weight: 600;
  border: none;
  background-color: rgb(164, 221, 237);
  border-radius: 10px;
  cursor: pointer;
}
